#!{{ lookPath "sh" }}

set -ex

# {{.chezmoi.configFile}}: {{ include .chezmoi.configFile | sha256sum }}
{{ $schemaFile := joinPath .chezmoi.sourceDir ".chezmoidata/_schema.json" }}
dataFile="$(mktemp)"

chezmoi data | jq .chezmoidata > ${dataFile}

jsonschema validate {{$schemaFile}} ${dataFile}

echo "Passed!"
