{{- /* This deletes an empty string before the template */ -}}
{{ if ne .chezmoidata.userlocal.gituser "" }}
  {{- .chezmoidata.userlocal.gituser -}}
{{ else }}
  {{- .chezmoi.username -}}
{{ end }}
{{- /* This deletes an empty string after the template */ -}}
